.container{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding:5px;
   height:auto;   
   font-size: 2vw;
    }
    .instructions{font-family: 'Courier New', Courier, monospace;
        width: 50vw;
    }
h3,h1{font-size:25px;}

.box{height: 10vh;
font-size: 2vw;
display: flex;
border-top:solid;
   border-left: solid;
   border-right: solid;
width: 20vw;
justify-content: center;
align-items:center;

}
